__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
*.log
*.tmp
*.bak
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.egg-info/
dist/
build/
.cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
